* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --heading-color: #262626;
    --text-color-1: #292F36;
    --btn-color: #CDA274;
    --tetx-color-2: #C76904;
    --lh: 1.5;
    --fw: 400;
    --fs: 20px;
    --gutter-width: 15px;
}

.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;
}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%;
}

.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
}

body {
    background-color: #ffffff;
    color: var(--secondary-color);
    font-family: var(--font);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

img {
    max-width: 100%;

}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
    /* border: 3px solid #C76904; */
    /* overflow-x: hidden;
     */

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gutter-width));
    margin-right: calc(-1 * var(--gutter-width));
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-item-start {
    align-items: flex-start;
}

.align-item-end {
    align-items: flex-end;
}

.align-item-baseline {
    align-items: baseline;
}

.align-item-stretch {
    align-items: stretch;
}

.align-item-center {
    align-items: center;
}

.self-start {
    align-self: start;
}

.self-start-center {
    align-self: center;
}

.self-start-end {
    align-self: end;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

html,
body {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}


.toggle {
    color: white;
    font-size: 30px;
}

.toggle i {
    padding: 10px;
    background-color: #C76904;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: transparent; */
    border-bottom: 1px solid #ffffff;
    padding: 5px 20px;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #212121;
    backdrop-filter: blur(10px);
    transition: all 0.2s linear;
}

.header.fixed-header {
    /* top: 0%;
    left: 0;
    right: 0; */
    height: 200px;
    z-index: 999999;
    transition: all 10s ease-in;
    /* background-color: transparent; */
    /* background: rgba(0,0,0,0.88); */
    background-color: #212121;
    backdrop-filter: blur(10px);
}

.nav {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    font-size: 10px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-style: normal;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #ffffff;
    font-family: "Montserrat", serif;
    font-size: 12px;
}

.contact button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

.contact-1 button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

/* new-section */
.quote-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }

  .quote-btn:hover {
    background-color: #333;
    color: #fff;
  }

  .main-title {
    font-family: Georgia, serif;
    font-size: 2rem;
    line-height: 1.4;
  }

  .subtitle {
    color: #555;
    font-size: 1rem;
  }

  .rounded-img {
    border-radius: 12px;
    object-fit: cover;
  }

/* new-section-1 */
.discover-kitchen {
    margin-top: 10%;
}

.discover-kitchen-1 {
    display: flex;
}

.text-section-head-main h1 {
    font-family: "Swifted", Sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -3.8px;
    color: #000000;
}

.text-section-head-para p {
    text-align: left;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
}

.btn-estimate {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    margin: auto;
}

.btn-estimate:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.sec-img-main {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}


/* new */
.heading h2 {
    text-align: center;
    font-family: "Swifted", Sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: -2.8px;
    color: #FFFFFF;
    padding: 30px 0px 30px 0px;
}

.dream {
    padding: 120px 0px 120px 0px;
    background-color: #EFEFEF;
}

.dream-home-para p {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    color: #A3A3A3;
}

.dream-home-head h2 {
    font-family: "Swifted", Sans-serif;
    font-size: 66px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: -5px;
    color: #000000;
}

.dream-home-para-2 p {
    text-align: left;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
}

.btn-dream-home {
    height: 40px;
    width: 200px;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem 2rem 0;
    font-size: 15px;
    /* border: 1px solid #ffffff; */
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-dream-home:hover {
    background-color: transparent;
    transition: 0.5s ease-in-out all;
    border: 1px solid #212121;
    color: #212121;
}

.dream-img img {
    border: 8px solid #212121;
    border-radius: 10px;
    position: relative;
}
.dream-inner-img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    -webkit-transition: opacity .25s cubic-bezier(0,0,.2,1);
    transition: opacity .25s cubic-bezier(0,0,.2,1);
    z-index: 63;
}

/* slider */
.testinomal-head h2 {
    font-family: "Swifted", Sans-serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2.8px;
    color: #000000;
    text-align: center;
}

.testimonial-head-1 h2 {
    font-family: "Swifted", Sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2.8px;
    color: #000000;
    text-align: center;
}

.testimonial {
    text-align: center;
    padding: 100px 50px 100px 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: #EFEFEF;
}

.stars {
    color: orange;
}

.slick-prev,
.slick-next {
    width: 100px;
    height: 100px;
    /* z-index: 1000; */
}

.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
    color: #000;
    transition: 0.3s;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: black;
}


/* swiper */
.swiper-container {
    width: 80%;
    height: 375px;
    overflow: hidden;
    /* margin-left: 20px; */
}

.swiper-slide {
    position: relative;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Overlay Hover Effect */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: #212121;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.overlay-1 {
    position: absolute;
    top: 10%;
    right: 5%;
    width: auto;
    height: 10%;
    background: #212121;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    text-transform: uppercase;
    padding: 2px 1px 2px 1px;
}

.swiper-slide:hover .overlay {
    opacity: 1;
}

.swiper-slide:hover .overlay-1 {
    opacity: 1;
}

/* Center slide scaling */
.swiper-slide-active {
    transform: scale(1.1);
    /* Slight zoom effect for center image */
}
.swiper-slide:hover .white-button{
    opacity: 1;
}
.white-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    opacity: 0;
  }
  .btn-appointment {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border: none;
    text-decoration: none;
    display: table;
    font-size: 1rem;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    margin: auto;
    text-transform: uppercase;
}

.btn-appointment:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* swiper-2 */
.slider-container {
    max-width: 1200px;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
  }
  .text-section-1 p{
    
  }
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: center;
    min-width: 100%;
    box-sizing: border-box;
    padding: 40px;
  }

  .image-section {
    grid-column: span 6;
  }

  .image-section img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
  }

  .text-section {
    grid-column: span 6;
    color: #333;
  }

  .step-number {
    /* font-size: 100px;
    color: #f0f0f0;
    line-height: 0.8; */
    position: relative;
    font-family: "Poppins", Sans-serif;
    font-size: 150px;
    font-weight: 600;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #00000066;
    stroke: #00000066;
    color: #FFFFFF00;
  }

  .step-label {
    position: absolute;
    top: 90px;
    left: 28px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    color: #444;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    /* margin-top: -20px; */
    color: #111;
  }

  .description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    max-width: 90%;
  }

  .slider-controls {
    text-align: center;
    margin-top: 20px;
  }

  .arrow {
    width: 50px;
height: 50px;
border: 2px solid black;
border-radius: 50%;
background-color: white;
color: black;
font-size: 24px;
cursor: pointer;
transition: all 0.3s ease;
display: inline-flex;
align-items: center;
justify-content: center;
  }

  .arrow:hover {
    background-color: black;
    color: white;
  }

  .dots {
    display: inline-block;
    vertical-align: middle;
  }

  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .dot.active {
    background-color: #333;
  }


.reno-main {
    border-top: 2px solid #212121;
    border-bottom: 2px solid #212121;
    /* margin-top: 30px; */
}

.reno-mains {
    margin-top: 40px;
    margin-bottom: 40px;
}

.renovation-section {
    display: flex;
    align-items: center;
    /* padding: 50px 0; */
}

.renovation-sections {
    display: flex;
    align-items: center;
    padding: 30px 0 30px 0;
}

.renovation-text h2 {
    font-weight: bold;
    font-size: 42px;
    line-height: 46px;
}

.renovation-text p {
    text-align: left;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
}

.btn-estimate {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    margin: auto;
}

.btn-estimate:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}



.dream-design-main h2 {
    font-family: "Swifted", Sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -3px;
    color: #000000;
    text-align: center;
}

.dream-design-main p {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}



.your-dream-main-head p {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    color: #A3A3A3;
    text-align: center;
}

.your-dream-main-head-2 h2 {
    font-family: "Swifted", Sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -2.8px;
    color: #000000;
    text-align: center;
}

.your-dream-main-para {
    text-align: center;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
}

.btn-estimates {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    margin-left: 37%;
}

.btn-estimates:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}


.section {
    display: flex;
    height: 100vh;
    position: relative;
    margin-top: 10%;
    /* margin-bottom: 10%; */
}

.image-side img {
    max-width: 800px;
    height: 700px;
    object-fit: cover;
}

.text-box {
    position: absolute;
    top: 55%;
    right: 0px;
    transform: translateY(-50%);
    background-color: #F7F7F7;
    padding: 80px;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 650px;
}

.text-box h2 {
    margin-top: 0;
    color: #000000;
    font-family: "Swifted", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -3px;
}

.text-box p {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}





.transform-bath-main {}

.transform-bath-head-1 h4 {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    color: #A3A3A3;
    margin-top: 60xp;
}

.transform-bath-head-2 h2 {
    font-family: "Swifted", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -3px;
    color: #FFFFFF;
}

.transform-bath-para-1 p {
    text-align: left;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
}

.btn-transform {
    background-color: transparent;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    text-decoration: none;
    display: table;
    font-size: 1rem;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
    margin: auto;

}

.btn-transform:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}


.image-section img {
    width: 100%;
    border-radius: 10px;
}

.text-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.text-section h3 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    margin-left: 25px;
}

.text-section p {
    font-size: 16px;
    line-height: 1.6;
    margin-left: 25px;
    color: #000000;
}

.text-section hr {
    margin-left: 25px;
}

.image-section {
    position: relative;
}

.image-section-2 {
    position: absolute;
    top: 20%;
    left: 20%;

}

.image-section-2 img {
    position: sticky;
}


.home-care-head h4 {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    color: #A3A3A3;
}

.home-care-head-2 h2 {
    font-family: "Swifted", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -3px;
    color: #000000;
}

.home-care-para p,
.home-care-para-2 p,
.home-care-para-3 p,
.home-care-para-4 p,
.home-care-para-5 p {
    text-align: left;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
}

.home-care-img img {
    /* height:  100vh; */
    object-fit: cover;
}


/* Style the tab */
.tab {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    /* padding: 0px 12px; */
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    height: auto;
}
.project-card {
    position: relative;
    /* width: 100%; */
    /* max-width: 400px; */
    /* overflow: hidden; */
    /* height: 100%; */

    height: auto;
    max-width: 100%;
  }
  
  .background-image {
    width: 100%;
    /* display: block; */
    transition: transform 0.3s ease;
    height: 500px;
    object-fit: cover;
  }
  
  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .project-card:hover .hover-overlay {
    opacity: 1;
  }
  
  .black-box {
    position: absolute;
    background: black;
    color: white;
    padding: 6px 12px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .black-box.top {
    top: 10px;
    right: 10px;
  }
  
  .black-box.bottom {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 12px;
    font-size: 16px;
  }
  
  .white-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  

