* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --heading-color: #262626;
    --text-color-1: #292F36;
    --btn-color: #CDA274;
    --tetx-color-2: #C76904;
    --lh: 1.5;
    --fw: 400;
    --fs: 20px;
    --gutter-width: 15px;
}

.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;
}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%;
}

.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
}

body {
    background-color: #ffffff;
    color: var(--secondary-color);
    font-family: var(--font);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

img {
    max-width: 100%;

}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
    /* border: 3px solid #C76904; */
    /* overflow-x: hidden;
     */

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gutter-width));
    margin-right: calc(-1 * var(--gutter-width));
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-item-start {
    align-items: flex-start;
}

.align-item-end {
    align-items: flex-end;
}

.align-item-baseline {
    align-items: baseline;
}

.align-item-stretch {
    align-items: stretch;
}

.align-item-center {
    align-items: center;
}

.self-start {
    align-self: start;
}

.self-start-center {
    align-self: center;
}

.self-start-end {
    align-self: end;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

html,
body {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}


.toggle {
    color: white;
    font-size: 30px;
}

.toggle i {
    padding: 10px;
    background-color: #C76904;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: transparent; */
    border-bottom: 1px solid #ffffff;
    padding: 5px 20px;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #212121;
    backdrop-filter: blur(10px);
    transition: all 0.2s linear;
}

.header.fixed-header {
    top: 0%;
    left: 0;
    right: 0;
    height: 200px;
    z-index: 999999;
    transition: all 10s ease-in;
    /* background-color: transparent; */
    /* background: rgba(0,0,0,0.88); */
    background-color: #212121;
    backdrop-filter: blur(10px);
}

.nav {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    font-size: 10px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-style: normal;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #ffffff;
    font-family: "Montserrat", serif;
    font-size: 12px;
}

.contact button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

.contact-1 button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

/* banner */
.bam {
    position: relative;
    top: 40%;
    /* padding-top: 10rem; */
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(file:///D:/ROEZ/images/remodel/full-remodel-background-scaled.jpg);
    /* background-position: center; */
    background-size: cover;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

.bam h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 200;
    font-style: bold;
    font-size: 56px;
    margin-top: 9rem;
}
.bam h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 200;
    font-style: bold;
    font-size: 56px;
    margin-top: 9rem;
}
.bam p {
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.btn-3-banner {
    height: 40px;
    width: 200px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem 2rem 0;
    font-size: 15px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
}

.btn-3-banner:hover {
    background-color: #ffffff;
    transition: 0.5s ease-in-out all;
    border: 1px solid #212121;
    color: #212121;
}

/* .btn-4-banner {
    height: 40px;
    width: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem 5rem 0;
    font-size: 15px;
}

.btn-4-banner:hover {
    background-color: #434546;
    transition: 0.5s ease-in-out all;
    border: 1px solid #ffffff;
} */

/* new */
.heading h2 {
    text-align: center;
    font-family: "Swifted", Sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: -2.8px;
    color: #FFFFFF;
    padding: 30px 0px 30px 0px;
}