* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --heading-color: #262626;
    --text-color-1: #292F36;
    --btn-color: #CDA274;
    --tetx-color-2: #C76904;
    --lh: 1.5;
    --fw: 400;
    --fs: 20px;
    --gutter-width: 15px;
}

.w-1 {
    width: 8.33%;
}

.w-2 {
    width: 16.66%;
}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.33%;
}

.w-5 {
    width: 41.66%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.33%;
}

.w-8 {
    width: 66.66%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.33%;
}

.w-11 {
    width: 91.66%;
}

.w-12 {
    width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
}

body {
    background-color: #ffffff;
    color: var(--secondary-color);
    font-family: var(--font);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

img {
    max-width: 100%;

}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: var(--gutter-width);
    padding-right: var(--gutter-width);
    /* border: 3px solid #C76904; */
    /* overflow-x: hidden;
     */
     
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gutter-width));
    margin-right: calc(-1 * var(--gutter-width));
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-item-start {
    align-items: flex-start;
}

.align-item-end {
    align-items: flex-end;
}

.align-item-baseline {
    align-items: baseline;
}

.align-item-stretch {
    align-items: stretch;
}

.align-item-center {
    align-items: center;
}

.self-start {
    align-self: start;
}

.self-start-center {
    align-self: center;
}

.self-start-end {
    align-self: end;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}
html,body{
    scroll-behavior: smooth;
}
html,
body {
    width: 100%;
    overflow-x: hidden;
}
.toggle{
    color: white;
    font-size: 30px;
}
.toggle i{
    padding: 10px;
    background-color: #C76904;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
  }
/* header */
.header {
    display: flex;
    align-items: center;
    /* background: transparent; */
    border-bottom: 1px solid #ffffff;
    padding: 5px 20px;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #212121;
    backdrop-filter: blur(10px);
    transition:all 0.2s linear;
}
.header.fixed-header{
    top: 0%;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 999999;
    transition:all 10s ease-in;
    /* background-color: transparent; */
    /* background: rgba(0,0,0,0.88); */
    background-color: #212121;
    backdrop-filter: blur(10px);
}

.nav {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    font-size: 10px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-style: normal;
}
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #ffffff;
    font-family: "Montserrat", serif;
    font-size: 12px;
}
.contact button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}
.contact-1 button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

/* banner */
.bam {
    position: relative;
    top: 10%;
    padding-top: 10rem;
}
.bam h1 {
    font-family: "Abril Fatface", serif;
  font-weight: 200;
  font-style: bold;
  font-size: 56px;
}
.bam p {
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    margin-top: 3rem;
    margin-bottom: 20px;
}
.btn-3-banner {
    height: 40px;
    width: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem 5rem 0;
    font-size: 15px;
}
.btn-3-banner:hover {
    background-color: #434546;
    transition: 0.5s ease-in-out all;
    border: 1px solid #ffffff;
}
.btn-4-banner {
    height: 40px;
    width: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem 5rem 0;
    font-size: 15px;
}
.btn-4-banner:hover {
    background-color: #434546;
    transition: 0.5s ease-in-out all;
    border: 1px solid #ffffff;
    /* z-index: 1; */
}

/* review */
.review-section {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    /* gap: 20px; */
    padding: 20px;
    width: 100%;
}
.review-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    min-width: 150px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.review-box img {
    width: 20px; /* Adjust based on logo size */
    height: auto;
}
.stars {
    color: orange;
}
@media (max-width: 600px) {
    .review-section {
        flex-direction: column;
        align-items: center;
    }

    .review-box {
        width: 90%;
        text-align: center;
    }
}

/* new-section */
.exp {
    display: flex;
    justify-content: start;
    align-items: center;
}
.first-tittle {
    font-size: 15px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    letter-spacing: 10px;
    text-align: start;
}
.second-title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
}
.third-title {
    padding-top: 60px;
}
.third-title,
.fourth-title,
.fifth-title {
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 30px;
    text-align: start;
}
.seventh-title {
    font-size: 40px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding-top: 7rem;
    text-align: start;

}

/* new-section */
.bc {
    position: relative;

}
.bc-box-1 {
    background: transparent;
    border: 3px solid #ffffff;
    position: absolute;
    right: 0%;
    bottom: -30%;
    max-width: 750px;
    display: flex;
    justify-content: center;
}
.bc-logo-1 span{
    padding-top: 20px;
}
.bc-logo-span{
    display: inline-block;
}
.bc-box-2 {
    background-color: #ffffff;
    margin: 20px;
}
.bc-box-logo-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bc-logo-1 {
   display: flex;
   gap: 10px;
   align-items: center; 
}
.bc-logo-1 span{
    text-align: left;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.bc-box-itm-1 {
    padding: 40px;
}
.bc-btn-p {
    height: 40px;
    width: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 5rem 1rem 5rem 0; */
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
}
.bc-btn-p:hover {
    background-color: #ffffff;
    transition: 0.5s ease-in-out all;
    border: 1px solid #212121;
    color: #000000;
}
.bc-main-p{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

/* marrquee-section */
.marquee {
    width: 100%;
    height: 12rem;
    pointer-events: none;
    background: black;
    overflow: hidden;
    box-shadow: 0 2rem 2rem 0.4rem rgba(0, 0, 0, 0.2);
}
.marquee__inner-wrap {
    height: 100%;
    width: 100%;
}
.marquee span {
    white-space: nowrap;
    width: 100%;
}
.marquee__img {
    width: max(8rem, 12vw);
    height: 8rem;
    margin: 0 4vw;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.marquee__inner {
    height: 100%;
    width: fit-content;
    align-items: center;
    display: flex;
    position: relative;
    animation: marquee 60s linear infinite;
    will-change: transform;
}
@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}


/* new-section */
.hero-section {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f9f9f9;
    overflow: hidden;
    padding: 20px;
}
/* Background Marquee Effect */
.marquee-text {
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    color: #E9E9E9;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}
/* Marquee Animation */
@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}
/* Foreground Content */
.content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.content h1 {
    font-weight: 600;
    color: #222;
}
.content h1 span {
    font-weight: 700;
}
.content p {
    color: #555;
    margin-top: 10px;
}


/* new-section */
.card-main{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
}
.card {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s ease;
}
.card:hover img {
    transform: translateX(-10px);
    /* border: 5px solid #C76904; */
}
.card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    background: black;
    color: white;
    padding: 20px;
    text-align: left;
}
.overlay h2{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.4px;
    margin-top: 0px;
}
.overlay a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    transition: color 0.3s ease;
}
.overlay a:hover {
    color: #aaa;
}


/* new-section */
.renovation-process-main {
    padding-top: 80px;
    padding-bottom: 50px;
}
.renovation-process-main .w-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.renovation-process p {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8.5px;
    color: #000000;
}
.renovation-process h1 {
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8.5px;
    color: #000000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* swiper */
.swiper {
    width: 600px;
    height: 300px;
}

.price-plan-img img {
    border-radius: 15px;
}

.price-plan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquees {
    overflow-x: clip;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.marquee-inner {
    display: flex;
    align-items: center;
    gap: 2vw;
    /* padding: 12vh 0; */
    will-change: transform;
}

.marquee-inner img {
    height: 100%;
    transition: transform 0.5s;
    flex-shrink: 0;
    width: 20vw;
    border-radius: 2rem;
    filter: grayscale(0%);
    transition: filter 0.3s ease;
    height: 346px;
    width: 350px;
}

.marquee-inner img:hover {
    filter: grayscale(100%);
}

.marqueess {
    overflow-x: clip;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.marquees-inner {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 12vh 0;
    will-change: transform;
}

.marquees-inner img {
    height: 100%;
    transition: transform 0.5s;
    flex-shrink: 0;
    width: 20vw;
    border-radius: 2rem;
    filter: grayscale(0%);
    transition: filter 0.3s ease;
    height: 346px;
    width: 350px;
}

.marquees-inner img:hover {
    filter: grayscale(100%);
}

.btn-3 {
    height: 40px;
    width: 200px;
    background-color: black;
    margin: 5rem 1rem 5rem 0;
    font-size: 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-3-content {
    display: flex;
    justify-content: center;
}

.btn-3:hover {
    background-color: #ffffff;
    transition: 0.5s ease-in-out all;
    color: #000000;
}


.crafting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.service-box {
    /* min-width: 280px;
    max-width: 350px; */
    padding: 20px;
    margin: 10px;
    /* background: rgba(255, 255, 255, 0.1); */
    border-radius: 10px;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-box  p{
    font-size: 16px;
    font-family: "Montserrat", Sans-serif;

}

.exp-title p {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    color: #A3A3A3;
    padding-top: 30px;
}
.exp-title h2{
    padding-bottom: 20px;
    font-size: 75px;
    font-weight: 400;
    letter-spacing: -4px;
    color: #212121;
    font-family: 'Times New Roman', Times, serif;

}

.checkbox-box-main-1,
.checkbox-box-main-2 {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.contractor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.form-group div {
    width: 48%;
}

label {
    font-weight: bold;
    /* display: flex; */
    margin-bottom: 5px;
}

select,
input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.checkbox-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 8px;
}

.submit-btn {
    width: 100%;
    background: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #333;
}

.hero {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

.overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contents {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.contents h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.contents p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.cta-button {
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    border: 1px solid white;
}

.cta-button:hover {
    background: white;
    color: black;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.contact-info a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.kitchen {
    padding: 30px 0 30px 0;
}

.kitchen .w-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* slider */
.testimonial-container {
    width: auto;
    overflow: hidden;
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 8rem;
}

.testimonial-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    min-width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    
}

.stars {
    color: orange;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.company-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.company-logos img {
    max-width: 200px;
    height: auto;
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .company-logos {
        flex-direction: column;
    }

    .company-logos img {
        max-width: 150px;
    }
}
.our-company-main{
    text-align: center;
}



.btn-4 {
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem 5rem 0;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px;
}

.btn-4:hover {
    background-color: #ffffff;
    transition: 0.5s ease-in-out all;
    border: 1px solid #212121;
    color: #000000;
}


/* footer */
.footer-img{
    display: block;
}
.footer {
    background-color: #fff;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* gap: 20px; */
    /* width: max-content; */
}
.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.footer-section ul li {
    font-size: 12px;
    text-align: left;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    color: #000000;
}
.footer-section p{
    text-align: left;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
}
.footer-section ul {
    list-style: none;
}
.footer-section ul li {
    margin-bottom: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.social-icons {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.social-icons a {
    text-decoration: none;
    transition: all 0.3s ease;
}
.social-icons a:hover {
    color: #ffffff;
}
.footer-img{
    display: flex;
    justify-content: center;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info p {
    margin: 5px 0;
}
.showrooms {
    font-size: 14px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .social-icons {
        justify-content: center;
    }
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #212121;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
  }
  
  .hover-underline-animation.left::after {
    transform-origin: bottom right;
  }
  
  .hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
  }
 /* 222 */
  .hover-underline-animations {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animations::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animations:hover::after {
    transform: scaleX(1);
  }
  
  .hover-underline-animations.right::after {
    transform-origin: bottom right;
  }
  
  .hover-underline-animations.right:hover::after {
    transform-origin: bottom left;
  }

/* bottom-to-top */

.bottom-to-top a i{
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
    font-size: 25px;
    border-radius: 15px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    /* transition: all 0.5s ease-in-out; */
    z-index: 999;
    /* transition: all 0.5 linear; */
}
.bottom-to-top a i:hover{
    background-color: #FFFFFF;
    color: #000000;
} 


/* swiper */
